// 颜色设置
// 全局页面颜色
$color-main: black;
// 全局字体颜色
$color-text-color: #fff;
// 渐变色背景颜色
$color-bg-color-black: #000000;
$color-bg-color-gray: #434343;

// 字体设置
// 全局字体大小
$font-size-default: 2rem;
$font-size-large: 2rem;
$font-size-mini: 12px;
// 字体
$font-family-default: "宋体";

// 高度及长度
// tabbar高度
$tabbar-height: 40px;
// 左侧菜单栏长度
$menu-width: 150px;
// 视频控件高度
$video-contorls-height: 50px;
